In [1]:
import pandas as pd

In [2]:
cars_df = pd.read_csv('cars.csv')

In [3]:
cars_df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [4]:
cars_df.shape

(38531, 30)

In [5]:
count = 0
wanted_columns = []
for val in cars_df.dtypes:
    if val != bool:
        wanted_columns.append(cars_df.columns[count])
    count += 1

wanted_columns

['manufacturer_name',
 'model_name',
 'transmission',
 'color',
 'odometer_value',
 'year_produced',
 'engine_fuel',
 'engine_type',
 'engine_capacity',
 'body_type',
 'state',
 'drivetrain',
 'price_usd',
 'location_region',
 'number_of_photos',
 'up_counter',
 'duration_listed']

In [6]:
cleaned_cars = cars_df[wanted_columns]

In [7]:
cleaned_cars = cleaned_cars.drop('number_of_photos',axis = 1)
cleaned_cars = cleaned_cars.drop('engine_fuel',axis = 1)
cleaned_cars = cleaned_cars.drop('location_region',axis = 1)

In [8]:
cleaned_cars

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,state,drivetrain,price_usd,up_counter,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,owned,all,10900.00,13,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,owned,all,5000.00,54,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,owned,all,2800.00,72,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,owned,all,9999.00,42,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,owned,all,2134.11,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,3.5,sedan,owned,front,2750.00,85,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,2.2,hatchback,owned,front,4800.00,20,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,3.5,sedan,owned,front,4300.00,63,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,2.0,minivan,owned,front,4000.00,156,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,2.4,minivan,owned,front,3200.00,73,632

In [10]:
cleaned_cars.to_csv('cleaned_cars.csv')